polygon {
	stroke: #828181; 
	stroke-width: 1px;
	/*fill: #05131B;*/
}

body {
	background-color: #05131B;
}

html, body {
  width: 100%;
  height: 100%;
}

#city_container {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#canvas {
	height: 100%;
	width: 80%;
	display: block;
	/*margin: auto;*/
}


#city_border {
	fill: #08DEDE;
	stroke: none;
}

#menu_icon {
    color: white;
    font-size: 35px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.category_icon {
    color: white;
    font-size: 40px;
}

#play_button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #08DEDE;
}

#play_icon {
    margin-left: 15px;
}

#mouse_location {
    float: right;
    height: 200px:
    width: 300px;
    background-color: white !important;
    padding: 10px 10px 10px 10px;
}

.coordinates {
    color: black;
    font-size: 20px;
}

#x_value {
    padding-right: 10px;
}



