<!DOCTYPE html>
<html>
	<head>
		<title>Prototype City</title>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="style_game.css">

		<script src="script_game.js"></script>
	</head>
	<body>
	<div id="progress_bar_container">
		<div class="w3-light-grey w3-round-xlarge progress_bar">
    		<div class="w3-container w3-blue w3-round-xlarge" style="width:40%">2 / 5</div>
  		</div>
	</div>

	<div id="stats">
		<div id="timer_container">
			<div id="label_timer">
				<label id="minutes">00</label>
				<label id="colon">:</label>
				<label id="seconds">00</label>
			</div>
		</div>
		<div id="container">
			<h4>Points: 10000</h4>
			<button type="button" class="btn btn-indigo">Skip</button>
			<div>
				<i class="fa fa-medkit category_icon" aria-hidden="true"></i>
			</div>
		</div>

	</div>

	<div id="website_frame">
		<iframe id="website" src="https://de.wikipedia.org/wiki/Gamification#:~:text=Als%20Gamification%20(aus%20englisch%20game,in%20einem%20spielfremden%20Kontext%20bezeichnet."></iframe>
	</div>


	<div id="search_container">
		<div id="search_bar">
			<div id="inner_search">
			<span>Search...</span>
			<i class="fa fa-search" id="search_icon"></i>
			</div>
		</div>
	</div>
		
	</body>
</html>